* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 700px;
    max-height: 900px;
}

#header {
    height: 120px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background-color: #ddd;
}

#content #content-left {
    /* width: 30%; */
    height: 500px;
    display: inline-block;
}

#content-left .places-list {
    padding: 20px;
}

#content-left .places-list a {
    display: block;
    color: blue;
    font-size: 18px;
}

#content #content-right {
    background-color: burlywood;
    width: 70%;
    height: 500px;
    /* display: inline-block; */
    float: right;
    padding: 20px;
}

#content-right .content-desc-1 {
    margin: 40px 0 24px;
    line-height: 1.4;
}

#content-right .content-img {
    height: 160px;
    margin-top: 32px;
}

#footer {
    background-color: #ccc;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}