.app {
  max-width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  width: 100%;
  height: 150px;
  background-color: gray;
}

.heading__desc {
  display: block;
  font-size: 50px;
  color: white;
  line-height: 150px;
  text-align: center;
  font-weight: 700;
}

.body {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
}

.body__nav {
  min-width: 200px;
  padding-bottom: 40px;
  background-color: rgb(192, 192, 192);
}

.body__nav-heading {
  list-style-type: none;
  padding-top: 25px;
  padding-left: 25px;
}

.body__desc {
  background-color: rgb(235, 233, 233);
  padding: 25px;
  max-width: 650px;
}

.body__desc-heading {
  font-size: 25px;
  font-weight: bold;
}

.body__img img {
  max-width: 400px;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
}

.footer__heading {
  display: block;
  font-size: 30px;
  color: white;
  line-height: 100px;
  text-align: center;
}
